

.container {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

.w200 {
    width: 200px;
    height: 100px;
}
  

.w100 {
    width: 100px;
    height: 100px;
}

.w100-200 {
    width: 100px;
    height: 200px;
}

.w1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

.w2 {
    grid-column: 1;
    grid-row: 2;
}

.w3 {
    grid-column: 2;
    grid-row: 2;
}

.w4 {
    grid-column: 1;
    grid-row: 3;
}

.w5 {
    grid-column: 2;
    grid-row: 2 / 5;
}

.w6 {
    grid-column: 1;
    grid-row: 4;
}

.w7 {
    grid-column: 1 / 3;
    grid-row: 5;
}